<h1 class="title">Regular</h1>
<div class="column is-6">
  <div b-field="Normal">
    <select b-select>
      <option *ngFor="let option of options">{{ option }}</option>
    </select>
  </div>
</div>

<div class="column is-6">
  <div b-field="small" icon="ban" size="small" class="danger">
    <select b-select>
      <option *ngFor="let option of options">{{ option }}</option>
    </select>
  </div>
</div>
<!-- todo fix horizontal label when large -->
<div class="column is-6">
  <div b-field="Large Color" icon="check" size="large" class="success">
    <select b-select>
      <option *ngFor="let option of options">{{ option }}</option>
    </select>
  </div>
</div>

<h1 class="title">Horizontal</h1>
<div class="column is-6">
  <div b-field-horizontal="Name">
    <div
      b-field
      [loading]="true"
      help="nice!"
      size="large"
      icon="globe"
      class="success"
    >
      <select b-select>
        <option *ngFor="let option of options">{{ option }}</option>
      </select>
    </div>
  </div>
</div>

<div class="column is-6">
  <div b-field-horizontal="Name">
    <div b-field [loading]="true" help="Error!" icon="ban" class="danger">
      <select b-select>
        <option *ngFor="let option of options">{{ option }}</option>
      </select>
    </div>
  </div>
</div>
