<div class="container" b-nav>
  <div b-nav-brand>
    <div b-nav-item>
      <span class="icon icon-large"><i class="fa fa-gift fa-2x"></i></span>
      <span style="padding-left:10px">Welcome</span>
    </div>
    <div b-nav-item>Test</div>
    <div b-nav-burger></div>
  </div>

  <div b-nav-menu>
    <a b-nav-item-start>
      <span class="icon"><i class="fa fa-github"></i></span>
      <span>Left A</span>
    </a>
    <a b-nav-item-start>Left B</a>
    <a b-nav-item-start>Left C</a>
    <a b-nav-item-end>Right A</a>
    <a b-nav-item-end>Right B</a>
    <a b-nav-item-end>Right C</a>
  </div>
</div>
