<h1 class="title">Regular</h1>
<div class="column is-6">
  <div b-field="Normal">
    <select b-select>
      <option *ngFor="let option of options">{{option}}</option>
    </select>
  </div>
</div>

<div class="column is-6">
  <div b-field="small">
    <select b-select
      [icon]="'ban'"
      [size]="'small'"
      [class]="'danger'">
      <option *ngFor="let option of options">{{option}}</option>
    </select>
  </div>
</div>
<!-- todo fix horizontal label when large -->
<div class="column is-6">
  <div b-field="Large Color">
    <select b-select
      [icon]="'check'"
      [size]="'large'"
      [class]="'success'">
      <option *ngFor="let option of options">{{option}}</option>
    </select>
  </div>
</div>

<h1 class="title">Horizontal</h1>
<div class="column is-6">
  <div b-field="Name"
    [horizontal]="true">
    <select b-select
      [loading]="true"
      [help]="'nice!'"
      [size]="'large'"
      [icon]="'globe'"
      [class]="'success'">
      <option *ngFor="let option of options">{{option}}</option>
    </select>
  </div>
</div>
<div class="column is-6">
  <div b-field="Name"
    [horizontal]="true">
    <select b-select
      [loading]="true"
      [help]="'Error!'"
      [icon]="'ban'"
      [class]="'danger'">
      <option *ngFor="let option of options">{{option}}</option>
    </select>
  </div>
</div>
