<!--The content below is only a placeholder and can be replaced.-->
<section>
  <div b-nav>
    <div class="container">
      <div class="navbar-brand">
        <div class="navbar-item">
          <span class="icon icon-large"><i class="fa fa-gift fa-2x"></i></span>
          <span style="padding-left:10px">{{title}}</span>
        </div>
        <div b-nav-burger></div>
      </div>

      <div b-nav-menu>
        <a b-nav-item-start>
          <span class="icon"><i class="fa fa-github"></i></span>
          <span>Left A</span>
        </a>
        <a b-nav-item-start>Left B</a>
        <a b-nav-item-start>Left C</a>
        <a b-nav-item-end>Right A</a>
        <a b-nav-item-end>Right B</a>
        <a b-nav-item-end>Right C</a>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="columns">
      <div class="column is-12">

        <!-- TABS -->
        <div b-tabs
          [active]="'inputs'">
          <div b-tabs-item="textarea"
            [icon]="'book'">
            <demo-textarea></demo-textarea>
          </div>
          <div b-tabs-item="select"
            [icon]="'arrow-down'">
            <demo-select></demo-select>
          </div>
          <div b-tabs-item="inputs"
            [icon]="'user'">
            <demo-input></demo-input>
          </div>
          <div b-tabs-item="checkbox"
            [icon]="'check'">
            <demo-checkbox></demo-checkbox>
          </div>
          <div b-tabs-item="radio"
            [icon]="'music'">
            <p>TODO radio</p>
          </div>
          <div b-tabs-item="file"
            [icon]="'file'">
            <p>TODO file</p>
          </div>
          <div b-tabs-item="tabs"
            [icon]="'tag'">
            <demo-tabs></demo-tabs>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
