<!-- Regular -->
<div class="column is-6">
  <h2 class="title">stacked regular</h2>
  <div b-field="Name">
    <input b-input
      [icon]="'user'"
      [iconRight]="'check'"
      [loading]="false">
  </div>
  <div b-field="Email">
    <input b-input
      [icon]="'envelope'"
      [iconRight]="'check'"
      [loading]="true">
  </div>
  <div b-field="Big">
    <input b-input
      [icon]="'envelope'"
      [class]="'success'"
      [size]="'large'"
      [help]="'Good job!'"
      [iconRight]="'check'"
      [loading]="true">
  </div>
  <div b-field="Where">
    <input b-input
      [icon]="'globe'"
      [iconRight]="'check'"
      [loading]="true">
  </div>
</div>

<!-- Horizontal -->
<div class="column is-6">
  <h2 class="title">stacked horizontal</h2>
  <div b-field="User"
    [horizontal]="true">
    <input b-input
      [class]="'danger'"
      [icon]="'user'"
      [iconRight]="'check'"
      [loading]="false"
      [help]="'Your name is spelled wrong'">
    <input b-input
      [icon]="'envelope'"
      [iconRight]="'check'"
      [loading]="false">
  </div>
</div>
