<!--The content below is only a placeholder and can be replaced.-->
<section>

  <div class="container"
    b-nav>
    <div b-nav-brand>
      <div b-nav-item>
        <span class="icon icon-large"><i class="fa fa-gift fa-2x"></i></span>
        <span style="padding-left:10px">Welcome</span>
      </div>
      <div b-nav-item>Test</div>
      <div b-nav-burger></div>
    </div>

    <div b-nav-menu>
      <a b-nav-item-start>
        <span class="icon"><i class="fa fa-github"></i></span>
        <span>Left A</span>
      </a>
      <a b-nav-item-start>Left B</a>
      <a b-nav-item-start>Left C</a>
      <a b-nav-item-end>Right A</a>
      <a b-nav-item-end>Right B</a>
      <a b-nav-item-end>Right C</a>
    </div>
  </div>

  <div class="container">
    <div class="columns">
      <div class="column is-12">

        <!-- TABS -->
        <b-tabs>
          <b-tabs-item label="textarea"
            [icon]="'fa fa-book'">
            <demo-textarea></demo-textarea>
          </b-tabs-item>
          <b-tabs-item label="select"
            [icon]="'fa fa-arrow-down'">
            <demo-select></demo-select>
          </b-tabs-item>
          <b-tabs-item label="inputs"
            [icon]="'fa fa-user'">
            <demo-input></demo-input>
          </b-tabs-item>
          <b-tabs-item label="checkbox"
            [icon]="'fa fa-check'">
            <demo-checkbox></demo-checkbox>
          </b-tabs-item>
          <b-tabs-item label="radio"
            [icon]="'fa fa-music'">
            <p>TODO radio</p>
          </b-tabs-item>
          <b-tabs-item label="file"
            [icon]="'fa fa-file'">
            <p>TODO file</p>
          </b-tabs-item>
          <b-tabs-item label="tabs"
            [icon]="'fa fa-tag'">
            <demo-tabs></demo-tabs>
          </b-tabs-item>
          <b-tabs-item label="tabs"
            [icon]="'fa fa-tag'">
            <demo-modal></demo-modal>
          </b-tabs-item>
        </b-tabs>
      </div>
    </div>
  </div>
</section>
