<!--The content below is only a placeholder and can be replaced.-->
<section>
  <div class="container">

    <!-- INPUTS -->
    <h1>inputs</h1>
    <div class="column is-12">

      <!-- Regular -->
      <div class="column is-6">
        <p>stacked regular</p>
        <div b-field="Guest">
          <input b-input
            [icon]="icon"
            [iconRight]="'check'"
            [loading]="false">
        </div>
      </div>

      <!-- Horizontal -->
      <div class="column is-6">
        <p>stacked horizontal</p>
        <div b-field="Guest">
          <input b-input
            [icon]="icon"
            [iconRight]="'check'"
            [loading]="false">
        </div>
      </div>
    </div>
  </div>
</section>
